@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Lobster&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Leckerli+One&family=Lobster&family=Rammetto+One&display=swap');
.bg-blue {
  width: 100%;
  overflow: hidden;
}

.card_carousel {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  flex-direction: row;
  position: relative;
}

.bg1
{
  background-image:url( "../../assets/featured_bg.png");
}
.card {
  height: 470px;
  transition: transform 0.3s ease-in-out;
  width: 370px;
  border-radius: 15px;
  background-size: contain;
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  z-index: -20;
  margin: 20px;
  position: absolute;
}

.button {
  z-index: 30;
}

.card_1 {
transform: translate(-500px);


}
.card_2 {

}
.card_3 {
  /* position: relative;
  animation: moveDiv3 1s forwards; */
transform: translate(500px);

}

.heading
{
  font-family: Leckerli One;
}
